.sidebar {
    position: absolute;
    top: 57px;
    left: 0;
    height: calc(100vh - 57px);
    border-right: 1px solid rgb(229 231 235);
    box-shadow: 0px 8px 9px rgb(0 0 0 / 10%);
}

.sidebar--inversed {
    right: 0;
    left: auto;
    border-right: none;
    border-left: 1px solid rgb(229 231 235);
    box-shadow: 0px 8px 9px rgb(0 0 0 / 10%);
}