.header {
    padding: 15px;
    color: rgb(107 114 128);
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid rgb(229 231 235);
    box-shadow: 0px 2px 9px rgb(0 0 0 / 10%);
    z-index: 1;
    align-items: center;
}

.header--inversed {
    flex-direction: row-reverse;
}

.header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.header-title h1 {
    margin-right: 15px;
}

.header-title button {
    margin-right: 5px;
}

.hamburger-menu {
    padding: 5px;
    cursor: pointer;
}